.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #134D80;
  gap: 10px;
}

.adBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 262px;
  background-color: #E6E6E6;
  width: 70%;
}

.comment{
  padding: 50px;
  font-size: 28px;
  text-align: center;
  color: #fff;
}

.homeBtn {
  width: 90%;
  height: 51px;
  background-color: #E6E6E6;
  color: #134D80;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeBtn:hover {
  background-color: #134D80;
  color: #fff;
}


.matchingCancelBtn {
  width: 90%;
  height: 51px;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.matchingCancelBtn:hover {
  color: #134D80;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
}

@media screen and (max-width: 378px) {
  .comment {
    font-size: 24px;
  }
  .container {
    padding-top: 20px;
  }
}