.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 10px;
}

.down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainchar {
  width: 174.11px;
  height: 160.56px;
}

.contents {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-size: 34px;
}

.nickname {
  display: flex;
  flex-direction: row;
}


.btns묶음 {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction:row;
  gap: 50px;
  font-size: 24px;
  padding-bottom: 10px;
}
.btns {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 106.73px;
  height: 120.21px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.btns:hover {
  font-weight: 900;
}


.leftBg {
  background-image: url('/images/mainPage/btn_left_ver1.png');
}

.rightBg {
  background-image: url('/images/mainPage/btn_right_ver1.png');
}

.adbox{
  width: 80%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
/* 폰트 */
.pretendardFont {
  font-family: var(--font-pretendard);
  font-weight: 700;
}

.mansehFont {
  font-family: var(--font-manseh);
}

.nexonFont {
  font-family: var(--font-nexon);
}


/* 소형 화면 대응 (ipone se 기준) */
@media screen and (max-width: 378px) {
  .mainchar {
    width: 120px;
    height: 110px;
  }
  .contents {
    font-size: 26px;
    padding-top: 20px;
  }
  
  .btns {
    width: 91px;
    height: 102.5px;
  }
}