.btns {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 106.73px;
  height: 120.21px;
  border-radius: 10px;
  color: #ffffff;
  padding-bottom: 10px;
}
.btns:hover {
  font-weight: 900;
}

.leftBg {
  background-image: url('/images/matchingPage/btn_left_ver3.png');
}
.rightBg {
  background-image: url('/images/matchingPage/btn_right_ver3.png');
}
.middleBg {
  background-image: url('/images/matchingPage/btn_middle_ver3.png');
}
/* .rightBg:hover {
  background-image: url('/images/matchingPage/btn_right_ver4.png');
} */


.leftBg.selected {
  background-image: url('/images/matchingPage/btn_left_ver4.png');
}

.middleBg.selected {
  background-image: url('/images/matchingPage/btn_middle_ver4.png');
}

.rightBg.selected {
  background-image: url('/images/matchingPage/btn_right_ver4.png');
}